@charset "utf-8";

/* -----------------------------------
  global
----------------------------------- */

/* global > color
----------------------------------- */
:root {
  --color-bg-white: #fff;
  --color-bg-beige: rgb(239 193 160 / 0.3);

  --color-font-base: #49382b;
  --color-font-white: #fff;
  --color-font-yellow: #f7ee12;
  --color-font-orange: #ee7c17;
  --color-font-cyan: #5ec0bd;
}

/* global > content-width
----------------------------------- */
:root {
  --width-content: 960px;
  --width-content-s: 760px;
}

/* global > content-width
----------------------------------- */
:root {
  --vw-sp: / 375 * 100vw;
  --vw-pc: / 1440 * 100vw;
}

/* global > font
----------------------------------- */
:root {
  /* base font family for the entire document */
  --font-family-base: "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  /* serif font family for the entire document */
  --font-family-serif: "Shippori Mincho", serif;
  /* english font family for the entire document */
  --font-family-english: "Josefin Sans", sans-serif;
}


/* -----------------------------------
  foundation
----------------------------------- */

/* foundation > base
----------------------------------- */
body {
  color: var(--color-font-base);
  font-family: var(--font-family-base);
  background-color: var(--color-bg-white);
  // font-size: 13.5px;
  // font-size: min(13.5px, calc(13.5 var(--vw-sp)));
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 1.75;
  // font-size: min(20px, calc(13.5 var(--vw-sp)));
  font-size: min(calc(13.5px * 1.5), calc(13.5 var(--vw-sp)));
}

@media screen and (min-width: 768px) {
  body {
    // font-size: 33px;
    // font-size: calc(33 var(--vw-pc));
  }
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}


/* -----------------------------------
  utility
----------------------------------- */

/* -----------------------------------
  utility
----------------------------------- */
/* screen reader only */
.u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* uppercase */
.u-uppercase {
  text-transform: uppercase;
}

/* break */
.u-break {
  display: inline-block;
}

/* no-sp */
.u-no-sp {
  display: none;
}

@media screen and (min-width: 768px) {
  .u-no-sp {
    display: block;
  }
}

/* no-pc */
@media screen and (min-width: 768px) {
  .u-no-pc {
    display: none;
  }
}

/* text style */
.u-color-orange {
  color: var(--color-font-orange);
}

.u-color-cyan {
  color: var(--color-font-cyan);
}

.u-color-white {
  color: var(--color-bg-white);
}

.u-fw-bold {
  font-weight: 700;
}


/* -----------------------------------
  layout
----------------------------------- */

/* layout > container
----------------------------------- */
.l-container {
  width: calc(343 / 375 * 100%);
  // max-width: 500px;
  max-width: 750px;
  margin: auto;
}

// @media screen and (min-width: 768px) {
//   .l-container {
//     width: 100%;
//     /* max-width: var(--width-content); */
//     max-width: calc(var(--width-content) + calc(80 var(--vw-pc)) * 2);
//     padding: 0 calc(80 var(--vw-pc));
//   }
// }


/* layout > section
----------------------------------- */
.l-section {
  padding-top: 160px;
  padding-top: 120px;
  padding-top: 100px;
}

.l-section--top-about {
  padding-top: 80px;
}

@media screen and (min-width: 768px) {
  .l-section {
    padding-top: 240px;
  }
}

/* layout > section-body
----------------------------------- */
.l-section-body {
  margin-top: 80px;
  margin-top: 60px;
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  .l-section-body {
    margin-top: 80px;
  }
}


/* layout > footer
----------------------------------- */


/* -----------------------------------
  page
----------------------------------- */

/* page > top > 
----------------------------------- */



/* page > top > 
----------------------------------- */



/* page > top > 
----------------------------------- */



