<div class="c-method">
  <div class="c-method-container">
    <h2 class="c-method-title">
      <img src="/assets/images/method/text-method-title@2x.webp" alt="「痛みナシ」「怖さナシ」で嗅覚を取り戻す方法" loading="lazy" decoding="async" width="306" height="139">
    </h2>
    <p class="c-method-lead">私の施術は、鍼を刺したり、骨を鳴らしたりはしません。<br>「痛みナシ」「怖さナシ」で<span class="u-color-orange">嗅覚を取り戻す</span>お手伝いをします。<br>どうしたらそんなことができるのか、気になりますよね？
    </p>
    <p class="c-method-answer">
      <img src="/assets/images/method/text-method-answer@2x.webp" alt="答えは、「体内の水を整えるだけ」" loading="lazy" decoding="async" width="349" height="343">
    </p>
    <div class="l-container">
      <div class="c-method-water">
        <div class="c-method-water-image">
          <img src="/assets/images/method/pic-method-water@2x.webp" alt="水の入った1つのグラスと3本のペットボトルの写真" loading="lazy" decoding="async">
        </div><!-- /.c-method-image -->
        <div class="c-method-water-description">
          <p class="c-method-water-text">私たちの体には、2リットルのペットボトルで15～21本分もの水が入っています。<br>この水が足りなくなったり、濁ったり、詰まったりしたときに、体は不調を起こします。</p>
          <p class="c-method-water-text">体内の水にはさまざまなものが含まれています。<br>その中でも健康を保つうえで大事なのが、<br>以下の3つです。</p>
          <ul class="c-method-water-list">
            <li class="c-method-water-item">血液</li>
            <li class="c-method-water-item">リンパ液</li>
            <li class="c-method-water-item">脳脊髄液</li>
          </ul>
          <p class="c-method-water-text">血液は、全身をくまなく回り、細胞に養分や酸素などを届けてくれています。<br>リンパ液は、体内でいらなくなった老廃物を運んでくれる水です。</p>
        </div><!-- /.c-method-water-description -->
      </div><!-- /.c-method-water -->
      <div class="c-method-csf">
        <p class="c-method-csf-and">そして、<span>脳脊髄液</span>は、</p>
        <div class="c-method-csf-description">
          <p class="c-method-csf-text"><span class="c-method-csf-text-xl">「豆腐パックの水」</span><span class="c-method-csf-text-lg">のように、</span><br>脳や脊髄が致命的な傷を負わないよう<br>守ってくれています。<br>体に不調が起きているときは、<br>この<span class="c-method-csf-text-md">3つの流れ</span>が悪いのです。<br>嗅覚障害だからといって、<br>鼻にアプローチするのではなく、<br>体内の水を流して<br>体のバランスを整えることが重要です。<br>血液、リンパ液、脳脊髄液の3つをしっかり循環させて、<br>体をトータルで整えます。</p>
        </div><!-- /.c-method-csf-description -->
      </div><!-- /.c-method-csf -->
    </div><!-- /.l-container -->
    <p class="c-method-conclusion">
      <img src="/assets/images/method/text-method-conclusion@2x.webp" alt="だから！「痛くない」「怖くない」施術で、嗅覚が取り戻せるのです。" loading="lazy" decoding="async" width="324" height="117">
    </p>
    <p class="c-method-book">（私が参考にしている本）<br>片平悦子『「3つの体液」を流せば健康になる！』</p>
  </div><!-- /.c-method-container -->
</div><!-- /.c-method -->

<style lang="scss">
@use '../styles/_breakpoints.scss' as *;

.c-method {
  margin-top: min(calc(53px * 1.5), calc(53 var(--vw-sp)));

  @include mq() {
    padding-bottom: min(100px, calc(100 var(--vw-pc)));
  }
}

.c-method-title {
  text-align: center;

  img {
    width: min(calc(306px * 1.5), calc(306 var(--vw-sp)));
  }
}

.c-method-lead {
  width: fit-content;
  padding: 0 min(calc(20px * 1.5), calc(20 var(--vw-sp)));
  margin: min(calc(13px * 1.5), calc(13 var(--vw-sp))) auto 0;
  text-align: justify;
  font-feature-settings: "palt";
}

.c-method-answer {
  margin-top: min(calc(28px * 1.5), calc(28 var(--vw-sp)));
  text-align: center;

  img {
    width: min(calc(349px * 1.5), calc(349 var(--vw-sp)));
  }
}

.c-method-water {
  margin-top: min(calc(48px * 1.5), calc(48 var(--vw-sp)));
}

.c-method-water-description {
  padding: min(calc(32px * 1.5), calc(32 var(--vw-sp))) min(calc(14px * 1.5), calc(14 var(--vw-sp))) min(calc(32px * 1.5), calc(32 var(--vw-sp)));
  margin-top: min(calc(41.5px * 1.5), calc(41.5 var(--vw-sp)));
  background-image: url(/assets/images/method/bg-method-ripples@2x.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @include mq() {
    padding: min(calc(32px * 1.5), calc(32 var(--vw-sp))) min(calc(45px * 1.5), calc(45 var(--vw-sp))) min(calc(32px * 1.5), calc(32 var(--vw-sp)));
  }
}

.c-method-water-text {
  &:nth-of-type(2) {
    margin-top: min(calc(12px * 1.5), calc(12 var(--vw-sp)));
  }

  &:nth-of-type(3) {
    margin-top: min(calc(16px * 1.5), calc(16 var(--vw-sp)));
  }
}

.c-method-water-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: min(calc(20px * 1.5), calc(20 var(--vw-sp)));
  height: min(calc(42.5px * 1.5), calc(42.5 var(--vw-sp)));
  margin-top: min(calc(4px * 1.5), calc(4 var(--vw-sp)));
  border-radius: min(calc(11.5px * 1.5), calc(11.5 var(--vw-sp)));
  background-color: var(--color-bg-white);
  box-shadow: 0 3px 4px 0 rgb(86 105 105 / 0.25);
}

.c-method-water-item {
  display: flex;
  align-items: center;
  gap: min(calc(4px * 1.5), calc(4 var(--vw-sp)));

  &::before {
    content: "";
    width: min(calc(14px * 1.5), calc(14 var(--vw-sp)));
    height: min(calc(12px * 1.5), calc(12 var(--vw-sp)));
    background-image: url(/assets/images/method/icon-method-check@2x.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
  }
}

.c-method-csf {
  position: relative;
  padding-top: min(calc(75px * 1.5), calc(75 var(--vw-sp)));
  margin-top: min(calc(27px * 1.5), calc(27 var(--vw-sp)));
}

.c-method-csf-and {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(calc(180px * 1.5), calc(180 var(--vw-sp)));
  height: min(calc(35px * 1.5), calc(35 var(--vw-sp)));
  margin: auto;
  background-image: linear-gradient(0deg, #d6b694 0%, #e8d9b5 100%);
  color: var(--color-font-white);
  font-size: min(calc(16.5px * 1.5), calc(16.5 var(--vw-sp)));
  font-feature-settings: "palt";
  text-shadow: 0 2px 3px rgb(183 164 128 / 0.35);

  span {
    font-size: min(calc(19px * 1.5), calc(19 var(--vw-sp)));
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50%;
    width: 1px;
    height: min(calc(50.5px * 1.5), calc(50.5 var(--vw-sp)));
    background-color: #49382b;
  }
}

.c-method-csf-description {
  padding: min(calc(40px * 1.5), calc(40 var(--vw-sp))) min(calc(8px * 1.5), calc(8 var(--vw-sp)));
  margin-top: min(calc(43px * 1.5), calc(43 var(--vw-sp)));
  background-image: url(/assets/images/method/bg-method-soy-milk@2x.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.c-method-csf-text {
  padding-left: 0.045em;
  letter-spacing: 0.045em;
  font-feature-settings: "palt";
  text-align: center;
  text-shadow: 0 2px 3px rgb(147 135 120 / 0.35);
}

.c-method-csf-text-xl {
  font-size: min(calc(19px * 1.5), calc(19 var(--vw-sp)));
}

.c-method-csf-text-lg {
  font-size: min(calc(16.5px * 1.5), calc(16.5 var(--vw-sp)));
}

.c-method-csf-text-md {
  font-size: min(calc(15px * 1.5), calc(15 var(--vw-sp)));
}

.c-method-conclusion {
  margin-top: min(calc(20px * 1.5), calc(20 var(--vw-sp)));
  text-align: center;

  img {
    width: min(calc(324px * 1.5), calc(324 var(--vw-sp)));
  }
}

.c-method-book {
  margin-top: min(calc(14px * 1.5), calc(14 var(--vw-sp)));
  font-size: min(calc(14px * 1.5), calc(14 var(--vw-sp)));
  text-align: center;
}
</style>
