<div class="c-points">
  <div class="c-points-container">
    <h2 class="c-points-title">
      <span class="c-points-title-upper"><span>嗅覚</span><span class="c-points-title-sm">を</span><span>取</span><span class="c-points-title-sm">り</span><span>戻</span><span class="c-points-title-sm">して</span></span>
      <span class="c-points-title-lower"><span>幸せな</span><span class="c-points-title-lg">日常</span><span>を</span><span class="c-points-title-lg">手</span><span>に</span><span class="c-points-title-lg">入れられます</span></span>
    </h2>
    <div class="l-container">
      <div class="c-points-container">
        <div class="c-points-content">
          <section class="c-points-item">
            <div class="c-points-item-head">
              <span class="c-points-number">
                <span class="c-points-number-en u-uppercase">Point</span>
                <span class="c-points-number-num">01</span>
              </span>
              <h3 class="c-points-title-level3">
                <span>施術方法は簡単</span>
                <span>お子さんも受けられます</span>
              </h3>
              <div class="c-points-image">
                <img src="/assets/images/points/pic-points-thumbnail-01@2x.webp" alt="" loading="lazy" decoding="async" width="300" height="210">
              </div><!-- /.c-points-image -->
            </div><!-- /.c-points-item-head -->
            <div class="c-points-description">
              <p class="c-points-text">施術方法は<span class="c-points-text-lg">体を触るだけ。</span><br>鍼を刺したり、<span class="c-points-text-lg">骨を鳴らしたりしません。</span><br>体への<span class="c-points-text-lg">負担が少ない</span>ので、お子さんでも受けられます。<br><span class="c-points-text-underline">お子さんが<span class="c-points-text-orange">嗅覚障害</span>で苦しんでいる方もご相談ください。</span></p>
            </div><!-- /.c-points-description -->
          </section><!-- /.c-points-item -->
          <section class="c-points-item">
            <div class="c-points-item-head">
              <span class="c-points-number">
                <span class="c-points-number-en u-uppercase">Point</span>
                <span class="c-points-number-num">02</span>
              </span>
              <h3 class="c-points-title-level3">
                <span>無理に何度も通わせません</span>
              </h3>
              <div class="c-points-image">
                <img src="/assets/images/points/pic-points-thumbnail-02@2x.webp" alt="" loading="lazy" decoding="async" width="300" height="210">
              </div><!-- /.c-points-image -->
            </div><!-- /.c-points-item-head -->
            <div class="c-points-description">
              <p class="c-points-text">「<span class="c-points-text-bold">何度も<span class="c-points-text-cyan">通わなきゃいけない</span>んでしょ？</span>」<br>治療院や整体に、こんなイメージを持つ方が多いですよね。</p>
              <p class="c-points-text">施術の効果が出るまでの期間は人によりますが、<br>その日のうちに効果が現れる方も。</p>
              <p class="c-points-text">施術した日に効果が出なかったとしても、<br>日数が経ってから「<span class="c-points-text-orange">鼻の通りが良くなった</span>」と<br>実感される方もいます。<br>1回の施術でじっくりと効果を待ってみてください。</p>
            </div><!-- /.c-points-description -->
          </section><!-- /.c-points-item -->
          <section class="c-points-item">
            <div class="c-points-item-head">
              <span class="c-points-number">
                <span class="c-points-number-en u-uppercase">Point</span>
                <span class="c-points-number-num">03</span>
              </span>
              <h3 class="c-points-title-level3">
                <span>嗅覚障害以外の</span>
                <span>症状にも施術できます</span>
              </h3>
              <div class="c-points-image">
                <img src="/assets/images/points/pic-points-thumbnail-03@2x.webp" alt="" loading="lazy" decoding="async" width="300" height="210">
              </div><!-- /.c-points-image -->
            </div><!-- /.c-points-item-head -->
            <div class="c-points-description">
              <p class="c-points-text">体内の水を循環させて体のバランスを整えるため、<br>嗅覚障害以外の不調にもおすすめです。
                <br>こんな症状をお持ちの方はぜひ、ご相談ください。
              </p>
            </div><!-- /.c-points-description -->
            <ul class="c-points-list">
              <li>倦怠感・疲労感</li>
              <li>思考力・集中力・記憶力の低下</li>
              <li>抑うつ</li>
              <li>めまい</li>
              <li>頭痛</li>
              <li>不眠</li>
              <li>立ちくらみ</li>
              <li>味覚障害</li>
            </ul>
          </section><!-- /.c-points-item -->
        </div><!-- /.c-points-content -->
      </div><!-- /.c-points-container -->
    </div><!-- /.l-container -->
  </div><!-- /.c-points-container -->
</div><!-- /.c-points -->

<style lang="scss">
@use '../styles/_breakpoints.scss' as *;
.c-points {
  margin-top: min(calc(46.5px * 1.5), calc(46.5 var(--vw-sp)));

  @include mq() {
    padding-bottom: min(100px, calc(100 var(--vw-pc)));
    margin-top: min(100px, calc(100 var(--vw-pc)));
  }
}

.c-points-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family-serif);
  text-align: center;
}

.c-points-title-upper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(calc(164.5px * 1.5), calc(164.5 var(--vw-sp)));
  height: min(calc(36px * 1.5), calc(36 var(--vw-sp)));
  padding-left: 0.01em;
  background-image: linear-gradient(-82deg, #f09f01 0%, #ffe59c 100%);
  box-shadow: 0 2px 3px rgb(130 115 101 / 0.2);
  font-size: min(calc(19.5px * 1.5), calc(19.5 var(--vw-sp)));
  letter-spacing: 0.01em;
}

.c-points-title-sm {
  font-size: min(calc(16px * 1.5), calc(16 var(--vw-sp)));
}

.c-points-title-lower {
  display: flex;
  align-items: center;
  padding-left: 0.05em;
  font-size: min(calc(20.5px * 1.5), calc(20.5 var(--vw-sp)));
}

.c-points-title-lg {
  color: var(--color-font-orange);
  font-size: min(calc(25.5px * 1.5), calc(25.5 var(--vw-sp)));
}

.c-points-content {
  display: grid;
  gap: min(calc(70px * 1.5), calc(70 var(--vw-sp)));
  width: min(calc(343px * 1.5), calc(343 var(--vw-sp)));
  padding: min(calc(63px * 1.5), calc(63 var(--vw-sp))) min(calc(16px * 1.5), calc(16 var(--vw-sp))) min(calc(40px * 1.5), calc(40 var(--vw-sp)));
  margin: min(calc(39px * 1.5), calc(39 var(--vw-sp))) auto 0;
  background-color: var(--color-bg-beige);

  @include mq() {
    width: min(calc(420px * 1.5), calc(420 var(--vw-sp)));
    padding: min(calc(63px * 1.5), calc(63 var(--vw-sp))) min(calc(50px * 1.5), calc(50 var(--vw-sp))) min(calc(40px * 1.5), calc(40 var(--vw-sp)));
  }
}

.c-points-item {
  position: relative;

  &:last-child {
    padding-bottom: min(calc(74px * 1.5), calc(74 var(--vw-sp)));
  }
}

.c-points-item-head {
  position: relative;
}

.c-points-number {
  position: absolute;
  top: max(calc(-39px * 1.5), calc(-39 var(--vw-sp)));
  left: calc(50% + min(calc(6px * 1.5), calc(6 var(--vw-sp))));
  translate: -50%;
  display: block;
  width: min(calc(58px * 1.5), calc(58 var(--vw-sp)));
  height: min(calc(58px * 1.5), calc(58 var(--vw-sp)));
  border-radius: 50%;
  background-color: #eba05f;
  box-shadow: 0 2px 2.5px 0.5px rgb(126 115 105 / 0.35);
  font-family: var(--font-family-english);
  font-weight: 400;
  font-style: italic;
  text-align: center;
  line-height: 1;

  .c-points-item:nth-child(2) & {
    left: calc(50% - min(calc(6px * 1.5), calc(6 var(--vw-sp))));
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: min(calc(54px * 1.5), calc(54 var(--vw-sp)));
    height: min(calc(54px * 1.5), calc(54 var(--vw-sp)));
    border-radius: 50%;
    border: 1px dotted #fff;
  }
}

.c-points-number-en {
  display: block;
  margin-top: min(calc(18px * 1.5), calc(18 var(--vw-sp)));
  color: var(--color-font-white);
  font-size: min(calc(11px * 1.5), calc(11 var(--vw-sp)));
}

.c-points-number-num {
  display: block;
  margin-top: min(calc(2px * 1.5), calc(2 var(--vw-sp)));
  color: var(--color-font-yellow);
  font-size: min(calc(15.5px * 1.5), calc(15.5 var(--vw-sp)));
  text-shadow: 0 2px 3px rgb(247 238 18 / 0.35);
}

.c-points-title-level3 {
  position: absolute;
  bottom: max(calc(-27px * 1.5), calc(-27 var(--vw-sp)));
  left: 0;
  font-family: var(--font-family-serif);
  color: var(--color-font-white);
  font-size: min(calc(18px * 1.5), calc(18 var(--vw-sp)));
  text-shadow: 0 2px 2.5px rgb(126 115 105 / 0.35);

  .c-points-item:nth-child(2) & {
    right: 0;
    left: auto;
  }

  span {
    display: inline-flex;
    align-items: center;
    height: min(calc(39.5px * 1.5), calc(39.5 var(--vw-sp)));
    padding: 0 min(calc(13px * 1.5), calc(13 var(--vw-sp)));
    background-color: #eba05f;
    box-shadow: 0 2px 2.5px 0.5px rgb(126 115 105 / 0.35);

    &:last-child {
      margin-top: min(calc(10px * 1.5), calc(10 var(--vw-sp)));
    }
  }
}

.c-points-image {
  text-align: right;

  .c-points-item:nth-child(2) & {
    text-align: left;
  }

  img {
    width: min(calc(300px * 1.5), calc(300 var(--vw-sp)));
  }
}

.c-points-description {
  display: grid;
  gap: min(calc(15px * 1.5), calc(15 var(--vw-sp)));
  margin-top: min(calc(37px * 1.5), calc(37 var(--vw-sp)));
  font-feature-settings: "palt";
  text-align: justify;
  line-height: 1.5;
}

.c-points-text-lg {
  font-size: min(calc(14.5px * 1.5), calc(14.5 var(--vw-sp)));
}

.c-points-text-underline {
  text-decoration: underline;
  text-underline-offset: min(calc(4px * 1.5), calc(4 var(--vw-sp)));
}

.c-points-text-bold {
  font-weight: 700;
}

.c-points-text-orange,
.c-points-text-cyan {
  font-size: min(calc(14.5px * 1.5), calc(14.5 var(--vw-sp)));
  font-weight: 700;
}

.c-points-text-orange {
  color: var(--color-font-orange);
}

.c-points-text-cyan {
  color: var(--color-font-cyan);
}

.c-points-list {
  position: absolute;
  bottom: max(calc(-15px * 1.5), calc(-15 var(--vw-sp)));
  left: 50%;
  translate: -50%;
  display: flex;
  flex-wrap: wrap;
  gap: min(calc(8px * 1.5), calc(8 var(--vw-sp)));
  width: min(calc(329.5px * 1.5), calc(329.5 var(--vw-sp)));
  height: min(calc(81.5px * 1.5), calc(81.5 var(--vw-sp)));
  padding: min(calc(10px * 1.5), calc(10 var(--vw-sp))) min(calc(6px * 1.5), calc(6 var(--vw-sp)));
  border-radius: min(calc(11.5px * 1.5), calc(11.5 var(--vw-sp)));
  background-color: var(--color-bg-white);
  box-shadow: 0 3.5px 4.5px rgb(152 128 108 / 0.2);
  line-height: 1;

  li {
    display: flex;
    align-items: center;
    gap: min(calc(3px * 1.5), calc(3 var(--vw-sp)));
    font-feature-settings: "palt";

    &::before {
      content: "";
      width: min(calc(13px * 1.5), calc(13 var(--vw-sp)));
      height: min(calc(11px * 1.5), calc(11 var(--vw-sp)));
      background-image: url(/assets/images/points/icon-points-check@2x.webp);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
    }
  }
}
</style>
